* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;  
}

.content {
  display: flex;
  min-height: 100svh;  
}

.left {    
  background-image: url('background.jpg');
  background-size: cover;  
  background-position: center;
  flex: 1 1 40%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px;
}

p.logo {
  font-size: 3rem;
}

p.logo, 
p.credits, 
a.link {
  color: white;
}

.right {      
  flex: 1 1 60%;
  padding: 30px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p.description {
  font-size: 1.5rem;
  font-weight: 500;
  max-width: 750px;
  min-width: 350px;  
}

p+p {
  margin-top: 20px;
}

h3 {
  font-size: 2rem;
}

form.signup-form {
  margin: 60px 0;
}

.form-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
  padding: 60px 0 60px 0;
}

.form-inputs div {  
  position: relative;
  min-width: 350px;
  display: flex;  
  flex-direction: column;
}

input {
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 1rem;
  padding: 30px 10px 10px 20px;
  background-color: transparent; 
}

input::placeholder {
  color: #ccc;
}

input:valid {
  border-color: #15a355;
  background-color: #e0f8eb;
}

input:user-invalid {
  border-color: #a31515;
  background-color: #f8e0e0;
}

label {
  text-transform: uppercase;
  color: #aaa;
  font-weight: 600;
  font-size: 0.8rem;
  position: absolute;
  top: 10px;
  left: 10px;
}

span {
  color: #e05e5e;
  font-size: 0.8rem;
  padding: 5px;
}

button.submit-form {  
  margin-bottom: 30px;
  padding: 20px 0;
  min-width: 350px;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid #000;
  background-color: #3a4bb1;
  color: white;
  border-radius: 5px;
}

button.submit-form:hover {
  background-color: #5060be;
}

a.log-in-link {
  font-weight: 600;
  text-decoration: none;
  color: #3a4bb1;
}